spring:
  application:
    name: eati

  datasource:
    url: ${JDBC_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 20
      minimum-idle: 5
      max-lifetime: 1800000           # 30분
      idle-timeout: 600000            # 10분
      leak-detection-threshold: 60000 # 1분

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        jdbc:
          batch_size: 0
        order_inserts: false
        order_updates: false
        query:
          plan_cache_max_size: 64
          plan_parameter_metadata_max_size: 64

  jpa.open-in-view: false

  data:
    redis:
      host: ${SPRING_DATA_REDIS_HOST:localhost}
      port: ${SPRING_DATA_REDIS_PORT:6379}
      password: ${SPRING_DATA_REDIS_PASSWORD:}
      lettuce:
        pool:
          max-active: 8
          max-idle: 8
          min-idle: 2
          max-wait: -1ms
      timeout: 3000ms

management:
  health:
    db:
      enabled: false
  endpoints:
    web:
      exposure:
        include: health,prometheus

jwt:
  secret: ${JWT_SECRET}
  access-token-expiration: 86400000  # 24시간 (밀리초)
  refresh-token-expiration: 604800000  # 7일 (밀리초)